__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.log
.env
.env.*
!.env.sample
.mypy_cache/
.pytest_cache/
dist/
build/
htmlcov/
coverage.xml
.DS_Store
.vscode/
.idea/
.cache/
.eggs/
.ipynb_checkpoints/
*.sqlite
*.db-journal
logs/
node_modules/
.envrc
.venv/
.env.local

!.env.example
